.dg
  &.a
    margin-right: 0 !important
  .slider
    padding: 0 !important
    border-radius: 0.125em !important
    .slider-fg
      margin-left: 0 !important
      padding-right: 0 !important
      border-radius: 0.125em !important
      &::after
        display: none !important
  .saturation-field
    margin-right: 0 !important;