//Config: Variables

//Fonts
font-size--1 = 0.75rem
font-size--2 = 0.9rem
font-size--3 = 1.0rem
font-size--4 = 1.3rem

line-height  = 1.6

font-family = 'Roboto', Arial, sans-serif

//Colors

color-gray--darkest   = #666
color-gray--darker    = #999
color-gray--dark      = #ccc
color-gray            = #ddd
color-gray--light     = #eee
color-gray--lighter   = #f2f2f2
color-gray--lightest  = #f7f7f7

color-primary         = #179AFF
color-black           = #333
color-white           = #fff
color-red             = #EA9494
color-red--dark       = #8E0000

color-sidebar         = color-gray--light
color-background      = color-gray--lightest
color-tab             = color-gray

//Gutter
page-gutter = 2rem