//Elements: Base
  
*,
*::before,
*::after
  box-sizing: inherit
  user-select: none

//make scrollbar invisible at all times
*::-webkit-scrollbar
  width: 0 !important

html
  box-sizing: border-box

body
  font-family: font-family
  color: color-black
  
a
  text-decoration: underline
  pointer: cursor
  &:hover
    color: color-black
